<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <ul class="nav menu">
    <li {{#if (isEquals nav 'Dashboard')}}class="active"{{/if}}><a href="/admin/dashboard">Dashboard</a></li>
    <li {{#if (isEquals nav '홍보차 관리')}}class="active"{{/if}}><a href="/admin/pr/list">홍보차 관리</a></li>
    <li {{#if (isEquals nav '국산차 관리')}}class="active"{{/if}}><a href="/admin/domestic/list">국산차관리</a></li>
    <li {{#if (isEquals nav '외제차 관리')}}class="active"{{/if}}><a href="/admin/foreign/list">외체차관리</a></li>
    <li {{#if (isEquals nav '고객 관리')}}class="active"{{/if}}><a href="/admin/customer/list">고객관리</a></li>
    <li {{#if (isEquals nav '딜러 관리')}}class="active"{{/if}}><a href="/admin/dealer/list">딜러관리</a></li>
    <li {{#if (isEquals nav '관리자')}}class="active"{{/if}}><a href="/admin/manage">관리자</a></li>
  </ul>
</div><!--/.sidebar-->