<!DOCTYPE html>
<html>
  <head>
    <!-- meta data -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-table.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/lumino.glyphs.js"></script>

  </body>
</html>
